*{
  border:.5px solid red;
}

html{
  background: url("./assets/background-img/coffeeTable.jpg") no-repeat;
  background-size: cover;
}

.App{
  height: 100vh;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 50, 17);
}

nav a{
  background-color: rgb(185, 122, 45);
  border-radius: 10px;
  padding: 1vw;
  height: 40%;
}

.registerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv{
  height: 40vw;
  width: 60vw;
  display: flex;
  flex-flow: column;
  text-align:center;
  justify-content: center;
  align-items: center;
}

.mainBanner{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(219, 164, 139);
}

.mainBanner nav{
  width:30%;
  display:flex;
  justify-content: space-around;
}


.loginForm{
  background-color: bisque;
  padding:3vw;
  border-radius: 25px;
  height:15vw;
}

.loginForm h2{
  margin-bottom: 2vw;
}

.formEntry{
  margin-top: .5vw;
  margin-bottom: .5vw;
  display: flex;
  justify-content: space-between;
}

.taskContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column;
  background: url('./assets/Notebook.png') no-repeat center;
  background-size: contain;
  height:50vw;
  margin-top: 5vw;
}
.taskList{
  display:flex;
  flex-flow: column;
  align-items: center;
  margin-top: 1vw;
  width: 30vw;
  height:30vw;
}

.taskLine{
  width:100%
}